.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 24rem;
  background-color: #ffffff;
  border: 1px solid #6938ef;
  border-radius: 1rem;
  padding: 3rem;
  justify-content: center;
}

.loginFormTitle {
  color: #100f14;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.loginFormTitle p {
  color: #49475a;
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
}

.userLoginForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userLoginInput {
  color: #686677;
}

.userLoginInput {
  display: flex;
  flex-direction: column;
  width: 17rem;
  font-size: 1rem;
}
.userLoginInput input {
  color: #686677;
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #cbcad7;
}
.userLoginInput input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.userLoginInput label {
  color: #686677;
  font-size: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0;
  text-transform: capitalize;
}

.userLoginButton {
  color: #ffffff;
  background-color: #7a5af8;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-weight: 400;
}
