.movieCard {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0.7) 0%,
    rgba(10, 10, 10, 0.5) 40%,
    rgba(20, 20, 20, 0.9) 100%
  );
  backdrop-filter: blur(10px);
}

.moviePoster {
  padding: 0.5rem;
}
.moviePoster img {
  border-radius: 1rem;
}
.movieDetails {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}
.movieTitle {
  color: rgb(245 197 24);
  font-size: 4rem;
}
.movieReleaseDate {
  color: #ffffffb3;
  font-size: 0.9rem;
}
.movieOverview {
  line-height: 1.5rem;
  font-weight: 300;
}

@media (max-width: 480px) {
  .movieCard {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
