.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #6938ef;
  border-radius: 1rem;
  padding: 1.5rem;
  justify-content: center;
}

.signUpFormTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #100f14;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.signUpFormTitle p {
  color: #49475a;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: none;
}

.userSignUpForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userSignUpInput {
  color: #686677;
}

.userSignUpInput {
  display: flex;
  flex-direction: column;
  width: 17rem;
  font-size: 1rem;
}
.userSignUpInput input {
  color: #686677;
  font-size: 1rem;
  padding: 0.4rem;
  border: 1px solid #cbcad7;
}
.userSignUpInput input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.userSignUpInput label {
  color: #686677;
  font-size: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0;
  text-transform: capitalize;
}

.userSignUpButton {
  color: #ffffff;
  background-color: #7a5af8;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 1.5rem;
}

.loginPrompt {
  display: flex;
  padding: 0.5rem;
  margin-top: 0.25rem;
  gap: 0.2rem;
  color: #49475a;
  font-weight: 300;
}
.loginPrompt a {
  color: #7a5af8;
  font-weight: 400;
}

@media (max-width: 480px) {
  .signUpForm {
    padding: 2rem;
  }

  .signUpFormTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #100f14;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .signUpFormTitle p {
    font-size: 1rem;
  }
}
