.weatherApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #f0f0f0;
  padding: 1rem;
  margin: 1rem;
  background-image: linear-gradient(to bottom, #18213f, #963ea9);
  border-radius: 10px;
  box-shadow: -40px 60px 150px 0 rgba(59, 38, 123, 0.7);
}

.weatherSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #4d5156; */
  border-radius: 999px;
  border: 0.7px solid #f7cbfd;
}
.weatherSearchBarForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

#cityInput {
  display: flex;
  align-items: center;
  background-color: transparent !important;
  padding: 0.8rem;
  font-size: 1rem;
  color: #f0f0f0;
  border: none;
  outline: none;
  flex: 14;
}

.weatherSearchButton {
  flex: 1;
  width: 2rem;
  margin-right: 0.25rem;
  border: none;
  background-color: transparent !important;
}

.weatherSearchButton img {
  width: 1.5rem;
  object-fit: cover;
  object-position: center;
  padding-top: 0.3rem;
  opacity: 0.8;
}
.weatherIcon {
  padding-top: 1rem;
}

.weatherIcon img {
  padding: 0.25rem;
  object-fit: cover;
  object-position: center;
}

.weatherDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0.5rem;
}

.weatherStatus {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 0.25rem;
}

.weatherTime {
  font-weight: 200;
}
