* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  overflow: hidden;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.profileCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.weatherAppContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  background-image: linear-gradient(to bottom, #18213f, #963ea9);
  border-radius: 10px;
  box-shadow: -40px 60px 150px 0 rgba(59, 38, 123, 0.7);
}
