html {
  font-size: 16px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2,
h5 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  font-weight: 300;
}

.mainContainer {
  background-color: #f0f0f0;
}

.profileCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  height: 100vh;
}
.weatherAppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toDoListAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 100vh;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.githubProfileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.movieAppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 480px) {
  .profileCardContainer {
    height: unset;
  }
}
